html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  line-height: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

a, a:visited {
  color: #1B4F7C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Stop headbutting bookmarks */
span.bookmark { 
  display: block;
  content: " ";
  margin-top: -3em;
  height: 3em;
  visibility: hidden;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.2em 0 0.5em 0;
  font-weight: bold;
}
h1 {
  margin: 1.7em 0 1em 0;
  font-size: 2em;
}
h2 {
  margin: 1.5em 0 0.8em 0;
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.75em;
}
h6 {
  font-size: 0.5em;
}
p {
  margin-bottom: 1.5em;
}

.border-circle {
  border-radius: 50%;
}

nav {
  display: flex;
  flex-wrap: wrap;

  background-color: #fff;
  margin-bottom: 30px;
  padding: 0.5em;
  position: sticky;
  top: 0px;
  font-size: 1.1em;
}
nav a, nav a:visited, nav a:hover {
  color: #253031;
  text-decoration: none; /* Remove default decoration only in nav */
}
nav > * {
  display: inline-flex;
  margin: auto 0; /* Vertical center all flex items */
}

.nav-profile > * {
  margin: auto 5px;
}
.nav-profile img {
  height: 2.1em;
}

.nav-center {
  margin: auto !important;
}

/*--- Hamburger ---*/
nav .nav-burger {
  display: none;
  cursor: pointer;
  margin: 0px 5px;
}
nav .bar1, nav .bar2, nav .bar3 {
  width: 35px;
  height: 5px;
  background-color: #253031;
  border-radius: 2px;
  margin: 6px 0;
  transition: 0.4s;
}
nav .burger-close .bar1 {
  -webkit-transform: rotate(-135deg) translate(-8px, -8px);
  transform: rotate(-135deg) translate(-8px, -8px);
}
nav .burger-close .bar2 {
  -webkit-transform: scale(0,0);
  transform: scale(0,0);
}
nav .burger-close .bar3 {
  -webkit-transform: rotate(135deg) translate(-8px, 8px);
  transform: rotate(135deg) translate(-8px, 8px);
}
/*--- End Hamburger ---*/

nav .nav-right > * {
  display: inline-flex;
  margin: auto 0; /* Vertical center all flex items */
  flex-direction: row-reverse;
}
nav .nav-right a {
  padding: 0.2em 0.5em;
  font-weight: bold;
}
nav .nav-social img {
  height: 1em;
}
nav .nav-right.burger-toggle {
  display: inline-flex;
}
nav .nav-menu a:hover {
  border-bottom: 3px solid #253031;
}

@media (max-width: 500px) {
  nav {
    border-bottom: 3px solid #545E75;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  /* Show burger */
  nav .nav-burger {
    display: inline-block;
  }
  /* Move Menu to next level in flex, then hide it */
  nav .nav-right {
    min-width: 100%;
    flex-flow: column nowrap;
    display: none;
  }
  /* Change the side that shows link hovers */
  nav .nav-menu a:hover {
    border-right: 3px solid #253031;
    border-bottom: none;
  }
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  /* Width is dynamically resized */
  width: calc((((100% - 40em) / (75 - 40) * (52.5 - 36))) + 36em);
  margin: 0 auto;
}
@media (max-width: 40em) {
  .content {
    width: 90%;
  }
}
@media (min-width: 75em) {
  .content {
    width: 52.5em;
  }
}

.blog-post {
  margin-bottom: 80px;
  padding: 0px 15px 45px 5px;
  border-bottom: 2px groove #5d576b;
  border-right: 2px groove #5d576b;
  border-radius: 10px;
}
.postTitle {
  margin: 0.5em 0;
  font-size: 2.5em;
}
.postDate {
  margin-bottom: 2em;
}
