nav {
  color: #e2efde;
  background-color: #0e3b43;
  position: fixed;
  top: 0px;
  width: 100%;
  padding: .5rem;
  border-bottom: 5px solid #5d576b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
}

nav .nav-profile {
  display: flex;
}

nav .nav-profile > * {
    margin: auto 5px;
}

nav img.nav-profile-pic {
    width:2.4em;
    border-radius:50%;
}

nav div.nav-right {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0.5em;
}

nav ul li a:hover {
    border-bottom: 3px solid #369;
}

nav .social img {
    height:1em;
    margin: auto 3px;
}

nav .social a:hover {
    border-bottom: none;
}

.blog-post {
    margin-bottom: 80px;
    padding-bottom: 45px;
    border-bottom: 3px solid #5d576b;
    border-radius: 15px;
}

.blog-post:last-child {
    border-bottom: none;
}
