<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Zongyao Mao</title>
  {% seo %}
  <!-- TODO: Minify for production -->
  <link rel="stylesheet" href="{{ "assets/css/foundation.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
</head>

<body>
  <!-- Start Top Bar -->
  <nav>
    <a class="nav-profile" href="{{ "/" | relative_url }}">
      <img class="nav-profile-pic" src="{{ "assets/img/profile.jpg" | relative_url }}" />
      <strong>Zongyao Mao</strong>
    </a>
    <div class="nav-right">
      <ul>
        <li><a href="{{ "blogIndex.html" | relative_url }}">Blog Index</a></li>
        <li><a href="{{ "about.html" | relative_url }}">About</a></li>
      </ul>
      <ul class="social">
        <li>
          <a href="https://www.linkedin.com/in/zongyaomao?trk=profile-badge" target="_blank">
            <img src="{{ "assets/img/LI-In-Bug.png" | relative_url }}" />
          </a>
          <a href="https://github.com/evozong" target="_blank">
            <img src="{{ "assets/img/GitHub-Mark-Light-64px.png" | relative_url }}" />
          </a>
          <a href="https://www.facebook.com/evozong" target="_blank">
            <img src="{{ "assets/img/f_logo_RGB-Blue_58.png" | relative_url }}" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="height:100px">
    <!-- This is a spacer because top-bar is pegged -->
  </div>
  <!-- End Top Bar -->

  <!-- Keep content in center -->
  <div class="row medium-8 large-7 columns">
{{ content }}
  </div>
</body>

</html>